<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lights</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
      <h1 class="center title">Living Room</h1>
      <ul class="gallery spacing">
        <li>
          <button class="button center">
            <a href="switchOn1">ON</a>
          </button>
        </li>
        <li>
          <button class="button center">
            <a href="switchOff1">OFF</a>
          </button>
        </li>
      </ul>
      <h1 class="center title">TBD</h1>
      <ul class="gallery spacing">
        <li>
          <button class="button center">
            <a href="switchOn2">ON</a> 
          </button>
        </li>
        <li>
          <button class="button center">
            <a href="switchOff2">OFF</a>
          </button>
        </li>
      </ul>
      <h1 class="center title">TBD</h1>
      <ul class="gallery spacing">
        <li>
          <button class="button center">
            <a href="switchOn3">ON</a>
          </button>
        </li>
        <li>
          <button class="button center">
            <a href="switchOff3">OFF</a>
          </button>
        </li>
      </ul>
  </body>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="../js/script.js"></script>
</html>
